@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.app {
  font-family: 'Lato', sans-serif;
}

.header {
  background-color: #FF0000;
  display: flex;
  justify-content: center;
  font-size: large;
  color: white;
}

.search {
  display: flex;
  justify-content: right;
  margin-right: 10px;
  margin-top: 10px;
}

.label-l {
  margin-right: 10px;
}

.hint {
  font-size: 12pt;
  width: 150px;
  height: 20px;
}

.grid {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: auto auto;
}

.col {
  margin-top: 10px;
}

.label-r {
  display: inline-block;
  width: 70px;
  margin-right: 10px;
}

.align {
  display: inline-block;
  vertical-align: sub;
}

.center {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.button {
  height: 55px;
  width: 95px;
  font-size: 11pt;
  color: white;
  background-color: #28A745;
  border-width: 2px;
  border-style: solid;
  border-color: #28A745;
  border-radius: 5px;
}

.button:active {
  background-color: white;
  color: #282c34;
}

.margin-l {
  margin-left: 10px;
}

.text {
  font-size: 14pt;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -1px;
  border-width: 1px;
  border-style: solid;
  border-color: #8d8d8d;
}